# dependencies
node_modules/
.pnpm-store/

# builds
dist/
.next/
out/
build/
*.tsbuildinfo

# env
.env
.env.local
.env.*.local

# prisma
apps/api/prisma/*.db

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# editor / os
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json

# testing
coverage/
